absl-py==0.7.0
arxiv==0.5.1
asn1crypto==0.24.0
astor==0.7.1
asyncio==3.4.3
beautifulsoup4==4.7.1
boto3==1.9.111
botocore==1.12.111
bs4==0.0.1
certifi==2018.11.29
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
cvxopt==1.2.3
cvxpy==1.0.10
cycler==0.10.0
datadog==0.26.0
decorator==4.3.2
dill==0.2.9
docutils==0.14
ecos==2.0.5
fastcache==1.0.2
feedparser==5.2.1
future==0.17.0
gast==0.2.2
goodreads-api-client==0.1.0.dev4
gradient-statsd==0.1.2
greenlet==0.4.15
grpcio==1.19.0
h5py==2.9.0
holidays==0.9.10
html5lib==1.0.1
idna==2.5
Jinja2==2.10
jmespath==0.9.4
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
mechanize==0.4.1
meson==0.49.2
mock==2.0.0
mpmath==1.1.0
msgpack==0.6.1
multiprocess==0.70.7
neovim-remote==2.1.5
numpy==1.15.3
osqp==0.4.1
pandas==0.23.4
paperspace==0.0.16
pathos==0.2.3
pbr==5.1.3
pdfrw==0.4
pox==0.2.5
ppft==1.6.4.9
protobuf==3.7.0
psutil==5.6.1
pycparser==2.19
pynvim==0.3.2
pyOpenSSL==19.0.0
pyparsing==2.2.2
pytest-runner==5.1
python-dateutil==2.7.5
python-docx==0.8.10
pytz==2018.9
PyYAML==3.13
rauth==0.7.3
requests==2.18.3
rpy2==2.9.5
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.1.0
scs==2.0.2
six==1.11.0
sklearn==0.0
soupsieve==1.9.1
sympy==1.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
toolz==0.9.0
tqdm==4.32.1
tzlocal==1.5.1
urllib3==1.24.2
virtualenv==16.4.3
webencodings==0.5.1
websockets==7.0
Werkzeug==0.14.1
xmltodict==0.11.0
